{% extends 'base.html' %}
{% block title %}Novo Aluno{% endblock %}
{% block content %}
<div class="container py-4">
  <h3 class="mb-3">Cadastrar aluno</h3>
  <form method="post" enctype="multipart/form-data" class="row g-3">
    <div class="col-12 col-md-6">
      <label class="form-label">Nome completo</label>
      <input name="nome" class="form-control" required>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label">Escola</label>
      <input name="escola" class="form-control">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Horário</label>
      <input name="horario" class="form-control" placeholder="ex: 13:00 - 17:00">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Telefone da mãe</label>
      <input name="telefone_mae" class="form-control">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Foto do aluno</label>
      <input type="file" name="foto" class="form-control" accept="image/*">
    </div>
    <div class="col-12 text-end">
      <a class="btn btn-outline-light" href="{{ url_for('alunos_listar') }}">Cancelar</a>
      <button class="btn btn-light">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}
