{% extends "base.html" %}
{% block title %}Novo Aluno{% endblock %}

{% block content %}
<div class="container py-4">
  <h3 class="mb-3">Cadastrar aluno</h3>
  <form method="post" enctype="multipart/form-data" class="row g-3" autocomplete="off">
    <div class="col-12 col-md-6">
      <label class="form-label">Nome</label>
      <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label">Escola</label>
      <input type="text" name="escola" class="form-control">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Horário</label>
      <input type="text" name="horario" class="form-control">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Telefone da mãe</label>
      <input type="text" name="telefone_mae" class="form-control">
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Foto do aluno</label>
      <input type="file" name="foto" class="form-control">
    </div>
    <div class="col-12 text-end">
      <a href="{{ url_for('listar_alunos') }}" class="btn btn-outline-light">Voltar</a>
      <button class="btn btn-light">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}
