{% extends 'base.html' %}
{% block title %}Novo Usuário{% endblock %}
{% block content %}
<h4 class="mb-3">Novo usuário</h4>
<div class="card card-glass p-3">
  <form method="post">
    <div class="row g-3">
      <div class="col-md-5">
        <label class="form-label">E-mail</label>
        <input class="form-control" type="email" name="email" required>
      </div>
      <div class="col-md-3">
        <label class="form-label">Papel</label>
        <select class="form-select" name="papel">
          <option value="DIRETORIA">Diretoria</option>
          <option value="PROFESSOR">Professor</option>
          <option value="RESPONSAVEL" selected>Responsável</option>
          <option value="ALUNO">Aluno</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Senha</label>
        <input class="form-control" type="password" name="senha" required>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-light w-100">Salvar</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
