{% extends 'base.html' %}
{% block title %}Editar Horário{% endblock %}
{% block content %}
<div class="container py-4">
  <h3 class="mb-3">Editar Horário</h3>

  <form method="post" class="row g-3">
    <div class="col-12 col-md-4">
      <label class="form-label">Hora início</label>
      <input type="time" class="form-control" name="hora_inicio" value="{{ horario.hora_inicio }}" required>
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label">Hora fim</label>
      <input type="time" class="form-control" name="hora_fim" value="{{ horario.hora_fim }}" required>
    </div>
    <div class="col-12">
      <button class="btn btn-light">Salvar</button>
      <a class="btn btn-outline-secondary" href="{{ url_for('horarios_listar') }}">Voltar</a>
    </div>
  </form>
</div>
{% endblock %}
